name: Docker Image CI Master 

on:
  push:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - 
      name: Build the Docker image - Notifiation API
      run: docker build -f API/dockerfile . --tag ivneto6121/ulock-proxy:latest   
    - 
      name: Login to DockerHub 
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Push to DockerHub - Nova API Qualidade Versioned Tag
      run: docker push ivneto6121/ulock-proxy:latest
   
